* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(210, 46%, 95%);
    font-family: "Barlow Semi Condensed", serif;
    height: 100vh;
    display: flex;
    align-items: center;
font-weight: 500;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.testimonials-grid{
   
    width:70%;
    display: grid;
    justify-items: center;
    gap: 24px;
grid-template-rows:    repeat(2, auto);
grid-template-columns: 1fr 1fr 1fr 1fr; /*minmax(auto, 17%) minmax(auto, 21%) minmax(auto, 19%) minmax(auto, 20%);*/
}

.testimonial {
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    margin: 0 auto;

}

.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}


.profile-container{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 18px;
    position: relative;
}

.profile-detail{
 display: flex;
flex-direction: column;
align-content: center;
 gap: 2px;
}

.profile-detail h1{
    font-size: 13px;
    font-weight: 500;
     margin: 0; 
}

.profile-detail p{
   font-size: 11px;
    opacity: 0.5;
     margin: 0; 
}


.description{
font-weight: 800px; 
    font-size: 20px;
}




.container-text{

    padding-right: 15px;
}




.container-dani{
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
background-color:hsl(263, 55%, 52%) ;
background-image:url(./images/bg-pattern-quotation.svg);
color:hsl(0, 0%, 100%);
background-repeat: no-repeat;
background-position: top right 80px;
border-radius: 10px;
grid-column-start: 1;
grid-column-end:   3;
}


.container-jona{
background-color:hsl(217, 19%, 35%) ;
color:hsl(0, 0%, 100%);
}

.container-pa {
background-color:hsl(219, 29%, 14%);
color:hsl(0, 0%, 100%);
grid-column-start: 2;
grid-column-end:   4;

}



.container-kira{

background-color:hsl(0, 0%, 100%);
color:hsl(217, 19%, 35%);
grid-row-start:1;
grid-row-end:3;
grid-column-start: 4;
grid-column-end: 5;

}

.container-kira .description{
font-weight: 600px;
    color: hsl(219, 29%, 14%);
}

.container-jean{
background-color:hsl(0, 0%, 100%);
color:hsl(217, 19%, 35%);
}


.container-jean .description{
font-weight: 600px;
    color: hsl(219, 29%, 14%);
}